{% load staticfiles %}
{% for r in results %}
<tr>
  <td><a href="/admin/members/member/{{ r.chaos_number }}" target="chaos_{{ r.chaos_number }}">{{ r.chaos_number }}</a></td>
  <td>{{ r.first_name }} {{ r.last_name }}</td>
  <td>{{ r.get_address }}</td>
  <td>{{ r.address_country }}</td>
  <td>{{ r.get_balance_readable }}</td>
  <td>
      {% if r.is_active %}
      {{ r.is_active }}
      {% else %}
      <a href="{% url 'api:member_reactivate' %}?chaos_number={{ r.chaos_number }}" target="_blank" title="Reactivate Member">{{ r.is_active }}</a>
      {% endif %}
  </td>
  <td>{{ r.erfa.short_name }}</td>
  <td>{{ r.get_emails_string }}</td>
  <td>
      <a href="{% url 'api:send_data_record' %}?chaos_number={{ r.chaos_number }}" target="_blank" title="Send Data Record Email">
          <img src="{% static 'icons/fam_silk/email_go.png' %}" />
      </a>
      <a href="{% url 'members:show_member_transaction_log' r.chaos_number %}" target="_blank" title="Show Transactions">
          <img src="{% static 'icons/fam_silk/money_euro.png' %}" />
      </a>
      {% if r.membership_type == 'SUP' and r.is_member %}
      <a href="javascript:confirm_mbr_type_chg('{{ r.chaos_number }}')" title="Change from supporter to member">
          <img src="{% static 'icons/fam_silk/user_comment.png' %}" />
      </a>
      {% endif %}
      <a href="mailto:{% for mail in r.emailaddress_set.all %}{% if mail.is_primary %}{{ mail.email_address }}{% endif %}{% endfor %}?subject=Zugang%20zur%20CCC-MV&body=Hallo%20{{ r.get_name|urlencode }},%0D%0A%0D%0A{% if r.get_fees_payable_until_2021_04_24 != '0.00' or not r.is_active %}{% if not r.is_active %}Deine%20Mitgliedschaft%20ruht.{% elif r.get_fees_payable_until_2021_04_24 != '0.00' %}Du%20hast%20{{ r.get_fees_payable_until_2021_04_24 }}€%20offene%20Beiträge.%20Zahlungsanweisungen%20gingen%20Dir%20per%20Mail%20oder%20Brief%20zu.{% endif %}{% else %}%0D%0A%0D%0ADeine%20Zugangsdaten%20zu%20https://mv2021.ccc.de/%20lauten%0D%0A%0D%0AUser:%20{{ r.username }}%0D%0APass:%20{{ r.initial_password|urlencode }}{% endif %}%0D%0A%0D%0AMit%20freundlichen%20Grüßen%0D%0AChaos%20Computer%20Club%20e.%20V.%0D%0A" title="Send GA access information">
          <img src="{% static 'icons/fam_silk/building_key.png' %}" />
      </a>
  </td>
</tr>
{% endfor %}
