{% block subject %}Mitgliederversammlung des CCC e. V. am 24. April 2021{% endblock %}

{% block body %}<p>Hallo {{ member.get_name }},</p>

<p>gemäß § 8 Abs. 2 der Satzung des Chaos Computer Club e. V. (siehe https://ccc.de/satzung) laden wir hiermit alle
   Mitglieder zur ordentlichen Mitgliederversammlung am

<blockquote>
   Samstag, dem 24. April 2021, auf https://mv2021.ccc.de ein.
</blockquote>
<p>Gemäß § 5 COVMG findet die Mitgliederversammlung online, in Kombination mit schriftlicher Beschlussfassung und
   Stimmabgabe vor Ort, statt.</p>
<p>Das heißt: Die Stimmabgabe ist sowohl per Post als auch beim Wahlausschuss vor Ort in Hamburg möglich.</p>
<p>Stimmabgabe per Post muss bis einschliesslich 23.04.2021 eingegangen sein.</p>
<p>Stimmabgabe vor Ort ist am 24.04.2021 von 09:00 Uhr bis zum Beginn der Veranstaltung möglich, mindestens aber bis
   11:00 Uhr:</p>
<blockquote>
Chaos Computer Club e.V.<br>
Zeiseweg 9<br>
22765 Hamburg
</blockquote>

<p>Zur Diskussionsvorbereitung bitten wir Dich, Dir die Tagesordnung und Anträge im Anhang, sowie die aktuellen
   Informationen und Hinweise unter https://verein.ccc.de, anzuschauen.</p>

<blockquote>
   <table style="width:100%">
      <tr>
         <th style="width:25%">Benutzername</th>
         <td style="width:25%">{{ verein_user }}</td>
         <th style="width:25%">Passwort</th>
         <td style="width:25%">{{ verein_pass }}</td>
      </tr>
   </table>
</blockquote>

<p>Die Versammlung beginnt um</p>
<blockquote>
   11 Uhr (virtueller Einlass auf https://mv2021.ccc.de ab 10 Uhr).
   <table style="width:100%">
      <tr>
         <th style="width:25%">Benutzername</th>
         <td style="width:25%">{{ member.username }}</td>
         <th style="width:25%">Passwort</th>
         <td style="width:25%">{{ member.initial_password }}</td>
      </tr>
   </table>
</blockquote>

{% if member.membership_type != member.MEMBERSHIP_TYPE_HONORARY %}
<p>Bitte beachte, dass Voraussetzung für die Ausübung Deiner Rechte im Rahmen der Mitgliederversammlung ist, dass alle
   offenen Mitgliedsbeiträge bezahlt sind.</p>
{% endif %}

<p>Derzeit führen wir Dich mit folgenden Daten und Zahlungsstand:</p>
   <table>
   <tr><th>Chaos-Nr.:</th><td>{{ member.chaos_number }}  (immer mit angeben!)</td><th>Erfakreis:</th><td>{{ member.erfa }}</td></tr>
   <tr><th>Mitgliedschaft:</th><td>
      {% if member.membership_type == member.MEMBERSHIP_TYPE_SUPPORTER %}
        Fördermitglied
      {% elif member.membership_type == member.MEMBERSHIP_TYPE_MEMBER %}
        ordentliches Mitglied
      {% elif member.membership_type == member.MEMBERSHIP_TYPE_HONORARY %}
        Ehrenmitglied
      {% endif %}
   </td><th>Ermäßigt:</th><td>{% if member.membership_reduced %}Ja{% else %}Nein{% endif %}</td></tr>
   <tr><th>Name:</th><td>{{ member.get_name }}</td></tr>
   <tr><th>Adresse:</th><td>{{ member.address_1|default_if_none:"" }}<br>
                  {{ member.address_2|default_if_none:"" }}<br>
                  {{ member.address_3|default_if_none:"" }}</td>
      <th>Land:</th><td>{{ member.get_address_country_display }}</td></tr>
   <tr><th>E-Mails:</th><td>{{ member.get_emails_string }}</td></tr>
   <tr><th>Kommentarfeld:</th><td>{{ member.comment }}</td></tr>
   <tr><th>Information:</th><td>{{ member.notification_consent }}</td><th>Datenschleuder:</th><td>{{ member.wants_datenschleuder }}</td></tr>
</table>
   <p>Mitgliedschaft seit dem {{ member.membership_start|date:"d.m.Y" }} = {{ member.get_annual_fee_readable }}€/Jahr,</p>
   {% if member.membership_end %}   <p>Austritt:      {{ member.membership_end|date:"d.m.Y" }}</p>
{% endif %}{% if member.get_annual_fee %}
   {% if member.fee_last_paid %}<p>Zuletzt gezahlt am {{ member.fee_last_paid|date:"d.m.Y" }}</p>{% endif %}
{% if member.account_balance > 0 %}
   <p>Guthaben für den nächsten Beitrag: {{ member.get_balance_readable }}€.</p>
{% elif member.account_balance < 0 %}
   <p>Zahlungsrückstände: {{ member.get_balance_readable|slice:"1:" }}€.</p>
{% endif %}{% if member.is_active %}
   <p>Am {{ member.fee_paid_until|date:"d.m.Y" }} wird der nächste Beitrag fällig.</p>
{% endif %}
   <p>Um Deine Rechte im Rahmen der Mitgliederversammlung ausüben zu können, musst Du noch zahlen: {{ member.get_fees_payable_until_2021_04_24 }}€.</p>
{% if member.get_fees_payable_until_2021_04_24 != '0.00' %}
   <p>Wir verwenden kein Lastschriftverfahren.</p>

<blockquote>
   <p>Verwendungszweck: {{ member.human_readable_transfer_token }}</p>
</blockquote>

<p>In den Verwendungszweck bitte ausschließlich die obige Zeichenfolge eintragen!</p>
<p>Spenden bitte in einer gesonderten Überweisung mit dem Verwendungszweck "Spende" tätigen.</p>

<blockquote>
   <p>Kontoinhaber: Chaos Computer Club e. V.<br>
   BIC: PBNKDEFFXXX IBAN: DE41 2001 0020 0599 0902 01<br>
      Postbank Hamburg</p>
</blockquote>
{% endif %}{% endif %}
<p>Sollten diese Daten nicht korrekt sein, so teile uns doch bitte
   Korrekturen per E-Mail an mitgliedschaft@ccc.de oder per Post mit:</p>
<blockquote>
   Chaos Computer Club e. V.<br>
   Zeiseweg 9<br>
   22765 Hamburg<br>
</blockquote>
<p>- Bitte gib in Mails und Briefen immer Deine Chaosnummer an, damit wir
   Deinen Datensatz finden! -</p>

<p>Mit freundlichen Grüßen<br>
der Vorstand des Chaos Computer Club e. V.<br>
   Michael Hirdes, Aleksander Paravac, Martin Haase, Dominik Keller, Bernadette Längle</p>
{% endblock %}
