{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load currency %}

{% block content %}
<h1>Confirm Reverting Transaction</h1>
<form action="" method="post" class="form">{% csrf_token %}
    <p>Are you sure you want to revert the following transaction?
        (You will be able to see all transactions in the Transaction Log.)</p>
    {% bootstrap_form form %}
    <div class="alert alert-danger">
        <table class="table">
            <tr><td>{{ form.member.label }}</td><td>{{ form.member.value }}</td></tr>
            <tr><td>{{ form.changed_value.label }}</td><td>{{ form.changed_value.value|currency }}</td></tr>
            <tr><td>{{ form.new_value.label }}</td><td>{{ form.new_value.value|currency }}</td></tr>
            <tr><td>{{ form.comment.label }}</td><td>{{ form.comment.value }}</td></tr>
        </table>
    </div>
    {% buttons %}
    <button type="submit" value="submit" class="btn btn-danger">Confirm</button>
    {% endbuttons %}
</form>
{% endblock %}