{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <h1>{{ h1 }}</h1>
    <form method="POST" class="form">
    {% csrf_token %}
    {{ form }}
    {% buttons %}
    <button type="submit" class="save btn btn-primary">Save</button>
    {% endbuttons %}
    </form>
{% endblock %}
