{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load currency %}

{% block content %}
    <h1>Mail Runs to do Again</h1>
    <table class="table" id="mail_runs">
        <thead>
        <tr>
            <th data-toggle="tooltip" title="">Re-Run?</th>
            <th data-toggle="tooltip" title="">Description</th>
            <th data-toggle="tooltip" title="">Start Date</th>
        </tr>
        </thead>
        <tbody>
        {% for r in mail_runs %}
        <tr>
            <td><a href="{% url 'members:do_mail_rerun' run_date=r.start_date|date:"d.m.Y" %}">Re-Run</a></td>
            <td>{{ r.description }}</td>
            <td>{{ r.start_date }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if mail_runs.has_previous %}
                <a href="?page={{ mail_runs.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ mail_runs.number }} of {{ mail_runs.paginator.num_pages }}
            </span>

            {% if mail_runs.has_next %}
                <a href="?page={{ mail_runs.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
