.plz-statistics, .plz-statistics-controls {
	display: inline-block;
	vertical-align: top;
}

.plz-region {
	fill: #e5e5e5;
	stroke: #fff;
	stroke-width: 1px;
}

.plz-region:hover, .plz-region-highlight {
	fill: steelblue;
}

.plz-label {
	dominant-baseline: middle;
	fill: #bbb;
	font-family: sans-serif;
	text-anchor: middle;
	pointer-events: none;
}

.city-marker, .city-label {
    display: none;
}
